body{background:#474e5d; }
.wrap
{
	background: #1abc9c;
	margin:auto;
	width: 70%;
	min-width: 550px;
	overflow: hidden;
	box-shadow: 2px 2px 5px black , -2px -2px 5px black;
}
.top_nav>p
{
	font-size: 30px;
	letter-spacing:3px;
	margin: 0;
	color: #ffffff;
	text-shadow: 
	3px 3px 1px black;
	margin-left: 5px;
	font-family:unset;
	float: left;
} 
.top_nav>ul>a
{
	list-style: none;
	float: right;
	margin-right: 0px;
	margin-top: -5px;
	background: url(../images/home_w.png) no-repeat;
	color: transparent;
	transition:all 1s ease 0s;
}
.top_nav>ul>a:hover
{
	transform: scale(1.5) rotate(360deg);
	background: url(../images/home_2.png) no-repeat;
}
.top_nav{overflow: hidden;}
h1
{
	text-align: center;
	font-size: 50px;
	color: #ffffff;
	font-family:monospace;
	text-shadow:3px 8px 2px black;
	margin-top: 0px;
	margin-bottom:0px;

}
.b_h1>p>img
{
	width: 100%;
	height: 250px;
}
hr
{
	 border: 0; 
	 height: 2px; 
	 background-image: linear-gradient(to right,silver,black,silver);

}
#register a
{
	color: #ffffff;
	display: block;
	padding: 5px 2px;
	width: 150px;
	margin-top: -30px;
	margin-left: 20px;
	background: #1abc9c;
	border: 5px solid transparent;
	border-radius: 20px;
	text-align: center;
	transition: all 0.5s ease ;
	overflow: hidden;
}
#register a:hover
{
	background:#ae262f;
	text-decoration: none; 
	transform: skewX(20deg);
	border-radius: 50%;
}
.for 
{
	background:url(../images/paper_white.png);
	background-size: cover;
	float: left;
	margin-left: 1%;	margin-top: 20px;
	width: 30%;
}
.we
{
	background:url(../images/paper_white.png);
	background-size: cover;
	float: left;	
	margin: 20px 2% 0 2%;
	width: 30%;
}
.reg
{
	background:url(../images/register.png);
	background-size: cover;
	float: right;
	margin-top: 13px;
	width: 35%;
}
.we_p,.for_p
{
	color: black;
	text-shadow: 2px 1px 1px grey;
	font-weight: bold italic;
	text-align: center;
	width:100%;
	letter-spacing: 1.5px;
	font-size: 25px;
	font-family: sans-serif;
	margin: 0px;
}
.register_p>p
{
	color: black;
	text-shadow: 2px 1px 1px grey;
	font-weight: bold italic;
	text-align: left;
	width:80%;
	letter-spacing: 1.5px;
	font-size: 25px;
	font-family: sans-serif ;
	margin: 45px 30px 10px 40px;
}
#click
{
	margin-top: 0;
	font-family:Engravers MT,cursive,sans-serif;
	font-size: 20px;
	margin-left: 28px;
}