.wrap
{
	background:#474e5d;
	margin:auto;
	width: 900px;
}
img[alt*="logo"]
{
	margin-left: .4px;
	margin-top: .4px;
	float: left;
}
.top_nav ul li
{
	text-decoration: none;
	list-style: none;
	display: inline;
	float: left;
	margin-left: 60px;
	font-size: 20px;
	letter-spacing: 3px;
}
.top_nav ul li:first-child
{
	margin-left: 150px;		   /*delete this ,,if more list itmes are added*/
}
.top_nav ul li a
{
	text-decoration: none;
	color: #ffffff;
}
.top_nav ul li.about 
{
	font-size: 30px;
	font-family: sans-serif;
	letter-spacing: 5px;
	text-shadow: 
		3px 3px 1px black;
}
.top_nav{overflow: hidden;}
h1
{
	text-align: center;
	font-size: 40px;
	color: #ffffff;
	font-family:monospace;
	text-shadow:3px 8px 2px black;
	margin-top: 0px;
	margin-bottom:0px;
}
hr
{
	 border: 0; 
	 height: 2px; 
	 background-image: linear-gradient(to right,silver,black,silver);

}
#b_h1_1
{
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
	color: #ffffff;
	font-family: cursive;
}
#register a
{
	color: #ffffff;
	display: block;
	padding: 5px 2px;
	width: 150px;
	margin: auto;
	background: #1abc9c;
	border-radius: 20px;
	text-align: center;
}
#register a:hover
{
	background:#ae262f;
	text-decoration: none; 
	border-style: double;
}
.top_nav ul li a:hover
{
	text-decoration: underline;
	color: #1abc9c;

}