#a1 {
    width: 150px;
    height: 150px;
    background-color:  #474e4d;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 103s infinite; /* Chrome, Safari, Opera */
    animation: mymove 10s infinite;
    border: 1px solid #474e4d; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
#a2 {
    width: 150px;
    height: 150px;
    background-color: #474e4d;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 103s infinite; /* Chrome, Safari, Opera */
    animation: mymove 10s infinite;
    border: 1px solid #474e4d;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
#a3 {
    width: 150px;
    height: 150px;
    background-color:  #474e4d;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 103s infinite; /* Chrome, Safari, Opera */
    animation: mymove 10s infinite;
    border: 1px solid #474e4d;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
#a4 {
    width: 150px;
    height: 150px;
    background-color:  #474e4d;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 103s infinite; /* Chrome, Safari, Opera */
    animation: mymove 10s infinite;
    border: 1px solid #474e4d;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
#a5 {
    width: 150px;
    height: 150px;
    background-color:  #474e4d;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 103s infinite; /* Chrome, Safari, Opera */
    animation: mymove 10s infinite;
    border: 1px solid #474e4d;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}




/* Chrome, Safari, Opera */
#a1 {-webkit-animation-timing-function: linear;}
#a2 {-webkit-animation-timing-function: ease;}
#a3 {-webkit-animation-timing-function: ease-in;}
#a4 {-webkit-animation-timing-function: ease-out;}
#a5 {-webkit-animation-timing-function: ease-in-out;}

/* Standard syntax */
#a1 {animation-timing-function: linear;}
#a2 {animation-timing-function: ease;}
#a3 {animation-timing-function: ease-in;}
#a4 {animation-timing-function: ease-out;}
#a5 {animation-timing-function: ease-in-out;}

h2{
    letter-spacing: 10px;
    text-transform: uppercase;
    color:#ffffff;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}
h3{
   letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 100px;
    
}
h5{
    color: #ffffff;
    font-weight: 50px;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.btn{
    text-transform: uppercase;
    background-color: #1abc9c;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 5px;
    
    
}
.btn:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    color: #1abc9c;
    background-color:#ffffff;
    border: 1px solid #1abc9c;
  }
body{
    background-color: #474e4d;
    color: #ffffff;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}