/* line 2, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../images/logo/logo-1.png") 50% 50% no-repeat #f9f9f9; }
  /* line 10, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .loader h3 {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 70%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600; }

/* line 20, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.logo img {
  width: 142px;
  height: 133px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #fff;
  box-shadow: 0px 1px 20px 2.2px #310a06;
  border-bottom-right-radius: 8%;
  border-bottom-left-radius: 8%;
  background-color: #fff; }

/* line 34, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
body {
  background: #ce3030;
  overflow-x: hidden; }

/* line 39, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.main {
  font-family: 'Arvo', serif;
  text-align: center;
  font-size: 492px;
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: #460e08 16px 2px 0; }

/* line 51, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
p {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  text-shadow: #460e08 4px 2px 0; }

@media screen and (max-width: 1080px) {
  /* line 60, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .main {
    text-shadow: #460e08 10px 2px 0; } }

@media screen and (max-width: 640px) {
  /* line 63, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .main {
    text-shadow: #460e08 7px 2px 0; } }

/* line 66, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.cess-nav {
  display: flex;
  flex-direction: space-around; }

/* line 69, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.drop {
  display: none; }

@media screen and (max-width: 1124px) {
  /* line 72, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .cess-nav .cess-btn {
    margin: 40px 30px; } }

@media screen and (max-width: 811px) {
  /* line 79, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .left-nav,
  .right-nav,
  .p2 {
    display: none !important; }
  /* line 81, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .drop {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 10px;
    left: 20px; }
  /* line 89, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .main {
    top: 150px; }
  /* line 91, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .wrap {
    margin-top: 260px; }
  /* line 94, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .logo img {
    position: absolute;
    left: 0; } }

@media screen and (max-width: 600px) {
  /* line 99, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .main {
    top: 150px; }
  /* line 101, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .wrap {
    margin-top: 120px; }
  /* line 104, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .logo img {
    position: static;
    left: 0; } }

/* line 107, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
a:hover {
  text-decoration: none; }

/* line 109, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.cess-btn {
  display: flex;
  z-index: 9999;
  margin: 40px;
  color: white;
  text-shadow: #460e08 0px 2px 0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  border: 2px solid #fff;
  padding: 8px 12px 8px 12px;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  border: 2px solid #fff;
  transition: all 0.6s ease-in-out;
  cursor: pointer; }
  /* line 125, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .cess-btn:hover {
    text-decoration: none;
    background-color: white;
    color: #ce3030;
    border-color: #ce3030;
    text-shadow: #460e08 0px 0px 0;
    box-shadow: 0px 2px 10px 2px #310a06; }

/* line 132, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.cess-o {
  background-color: #ce3030;
  color: #fff; }

/* line 138, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.show {
  display: block;
  position: static; }

/* line 141, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.hide {
  display: block;
  position: absolute;
  position: static; }

/* line 145, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.cess-active {
  background-color: white;
  color: #ce3030;
  text-shadow: #460e08 0px 0px 0;
  box-shadow: 0px 2px 10px 2px #310a06; }

/* line 151, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.cess-content {
  margin: 4%; }
  /* line 153, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .cess-content p {
    text-align: justify; }

/* line 156, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.p2 {
  display: inline-flex; }

/* line 158, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.news {
  width: 60%;
  height: auto;
  min-height: 150px;
  border: 2px solid #310a06;
  box-shadow: 0px 2px 10px 2px #310a06;
  margin: auto;
  background-color: #fff;
  color: #ce3030;
  text-align: center; }
  /* line 169, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .news hr {
    background-color: #ce3030;
    height: 2px; }

/* line 172, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.alt-body {
  background-color: #fff;
  margin: 30px 1%;
  box-shadow: 0px 1px 5px 1px #310a06;
  border-radius: 2px;
  padding: 5px;
  word-wrap: break-word;
  color: #ce3030 !important; }
  /* line 182, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .alt-body h3 {
    color: #8d2116;
    font-weight: 600; }
  /* line 185, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .alt-body p {
    color: #ce3030;
    text-shadow: 0 0;
    font-size: 27px !important; }

/* line 189, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.ion {
  color: #ce3030;
  font-size: 130px; }

@media screen and (max-width: 810px) {
  /* line 198, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .alt-body {
    margin-top: 120px; } }

@media screen and (max-width: 602px) {
  /* line 201, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .alt-body {
    margin-top: 5px !important; } }

/* line 204, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.toggle {
  display: none; }

/* line 206, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.block {
  background: #fff;
  color: #ce3030;
  text-align: center;
  display: block;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  width: 60%;
  margin: auto; }

/* line 217, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.mob-nav {
  position: fixed;
  width: 100%;
  top: 0.1px;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999999;
  background-color: #310a06; }
  /* line 225, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .mob-nav .nav-item {
    color: #fff;
    font-size: 30px;
    display: flex;
    text-align: center;
    flex-direction: column; }
  /* line 231, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .mob-nav .nav-item + .nav-item {
    border-bottom: 3px solid #fff;
    padding: 15px; }

/* line 234, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.cess-footer-o {
  margin: 0;
  background-color: #fff;
  color: #ce3030;
  height: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  font-weight: 400; }

/* line 244, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.cess-footer {
  margin: 0;
  background-color: #fff;
  color: #ce3030;
  box-shadow: 0px 1px 5px 1px #310a06;
  height: 30px;
  width: 100%;
  font-size: 18px;
  font-weight: 400; }

/* line 254, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
.img-responsive {
  border: 5px solid #ce3030; }

@media only screen and (max-width: 768px) {
  /* line 258, C:/xampp/htdocs/creationhub/alpha_pro/styles/main.sass */
  .anim {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; } }

/*# sourceMappingURL=main.css.map */