/* line 10, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.body-c {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ce3030;
  z-index: -90; }

/* line 16, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../images/logo/logo-1.png") 50% 50% no-repeat #fff; }
  /* line 24, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .loader h3 {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 70%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600; }

/* line 33, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.logo-a {
  /*img
		width:142px
		height:133px
		margin-left:auto
		margin-right:auto
		position:fixed
		top:0
		display:flex
		justify-content:center
		border-bottom:2px solid #fff
		box-shadow:0px 1px 20px 2.2px $color-d
		border-bottom-right-radius:8%
		border-bottom-left-radius:8%
		background-color:#fff*/ }
  /* line 48, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .logo-a img {
    width: 142px;
    height: 133px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #fff;
    box-shadow: 0px 1px 20px 2.2px #310a06;
    border-bottom-right-radius: 8%;
    border-bottom-left-radius: 8%;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 0px !important;
    self-align: center; }

/* line 63, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.logo-b img {
  width: 142px;
  height: 133px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #fff;
  box-shadow: 0px 1px 20px 2.2px #310a06;
  border-bottom-right-radius: 8%;
  border-bottom-left-radius: 8%;
  background-color: #fff;
  position: absolute;
  left: 0px;
  top: 0px !important;
  self-align: center; }

/* line 77, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
body {
  background-image: url("../images/bg/Elegant_Background-8.jpg");
  background-repeat: none;
  background-attachment: fixed;
  overflow-x: hidden;
  margin-top: 0 !important;
  margin: auto;
  z-index: -99; }

/* line 87, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.big {
  font-family: 'Arvo', serif;
  text-align: center;
  font-size: 392px;
  position: absolute;
  left: 5px;
  top: 130px;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: #f4f4f4;
  text-shadow: #460e08 8px 2px 0; }

/* line 99, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.cess-p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-family: 'Josefin sans', sans-serif;
  font-weight: 700;
  text-shadow: #460e08 1px 1px 0; }

@media screen and (max-width: 1080px) {
  /* line 108, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .big {
    text-shadow: #460e08 10px 2px 0; } }

@media screen and (max-width: 640px) {
  /* line 111, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .big {
    text-shadow: #460e08 7px 2px 0; } }

/* line 114, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.cess-nav {
  display: flex;
  flex-direction: space-around; }

/* line 117, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.drop {
  display: none; }

@media screen and (max-width: 1124px) {
  /* line 120, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .cess-nav .cess-btn {
    margin: 40px 30px; } }

@media screen and (max-width: 1107px) {
  /* line 127, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .left-nav,
  .right-nav,
  .p2 {
    display: none !important; }
  /* line 129, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .drop {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 10px;
    left: 20px; }
  /* line 137, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .big {
    top: 150px; }
  /* line 139, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .wrap {
    margin-top: 260px; }
  /* line 141, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .logo-a {
    position: absoulte; }
  /* line 144, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .logo-b img {
    position: static;
    left: 0; } }

@media screen and (max-width: 600px) {
  /* line 149, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .big {
    top: 150px; }
  /* line 151, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .wrap {
    margin-top: 120px; }
  /* line 155, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .logo-a img,
  .logo-b img {
    position: static;
    left: 0;
    margin: 0; } }

/* line 159, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
a:hover {
  text-decoration: none; }

/* line 161, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.cess-btn {
  display: flex;
  z-index: 9999;
  margin: 40px auto;
  color: white;
  text-shadow: #460e08 0px 2px 0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  border: 2px solid #fff;
  padding: 8px 12px 8px 12px;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  border: 2px solid #fff;
  transition: all 0.6s ease-in-out;
  cursor: pointer; }
  /* line 177, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .cess-btn:hover {
    text-decoration: none;
    background-color: white;
    color: #ce3030;
    border-color: #ce3030;
    text-shadow: #460e08 0px 0px 0;
    box-shadow: 0px 2px 10px 2px #310a06; }

/* line 184, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.cess-o {
  background-color: #ce3030;
  color: #fff;
  border: 4px solid #ce3030;
  transition: all 0.3s ease-in-out; }
  /* line 189, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .cess-o:hover {
    background-color: #761515;
    color: white;
    border: 4px solid rgba(235, 14, 14, 0.85);
    box-shadow: none; }

/* line 195, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.show {
  display: block;
  position: static; }

/* line 198, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.hide {
  display: block;
  position: absolute;
  position: static; }

/* line 202, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.cess-active {
  background-color: white;
  color: #ce3030;
  text-shadow: #460e08 0px 0px 0;
  box-shadow: 0px 2px 10px 2px #310a06; }

/* line 209, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.cess-nav .cess-btn {
  margin: 45px 25px !important; }

/* line 211, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.cess-nav p {
  text-align: justify; }

/* line 213, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.cess-content {
  margin: 0; }
  /* line 215, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .cess-content p {
    text-align: center; }

/* line 218, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.p2 {
  display: inline-flex; }

/* line 220, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.news {
  width: 60%;
  height: auto;
  min-height: 150px;
  border: 2px solid #310a06;
  box-shadow: 0px 2px 10px 2px #310a06;
  margin: auto;
  background-color: #fff;
  color: #ce3030;
  text-align: center; }
  /* line 231, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .news hr {
    background-color: #ce3030;
    height: 2px; }

/* line 234, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.alt-body {
  background-color: #fff;
  margin: 30px 1%;
  box-shadow: 0px 1px 5px 1px #310a06;
  border-radius: 2px;
  padding: 1px;
  word-wrap: break-word;
  color: #ce3030 !important; }
  /* line 244, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .alt-body h3 {
    color: #8d2116;
    font-weight: 600; }
  /* line 247, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .alt-body h4 {
    color: #8d2116;
    font-weight: 600; }
  /* line 250, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .alt-body p {
    color: #ce3030;
    text-shadow: 0 0;
    font-size: 19px !important; }

/* line 254, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.ion {
  color: #ce3030;
  font-size: 130px; }

@media screen and (max-width: 1107px) {
  /* line 263, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .alt-body {
    margin-top: 120px; } }

@media screen and (max-width: 602px) {
  /* line 266, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .alt-body {
    margin-top: 5px !important; } }

/* line 269, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.toggle {
  display: none; }

/* line 271, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.block {
  background: #fff;
  color: #ce3030;
  text-align: center;
  display: block;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  width: 100%;
  margin: auto; }

/* line 282, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.mob-nav {
  position: fixed;
  width: 100% !important;
  top: 0.1px;
  left: 0;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999999;
  background-color: rgba(34, 50, 63, 0.92); }
  /* line 291, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .mob-nav .nav-item {
    color: #fff;
    font-size: 30px;
    display: flex;
    text-align: center;
    flex-direction: column; }
  /* line 297, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .mob-nav .nav-item + .nav-item {
    border-bottom: 3px solid #fff;
    padding: 15px; }

/* line 302, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.cess-footer {
  margin: auto;
  background-color: #fff;
  font-size: 18px; }
  /* line 306, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .cess-footer li, .cess-footer a {
    color: #ce3030; }
  /* line 308, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .cess-footer .f-bot {
    background-color: #ce3030; }
    /* line 311, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
    .cess-footer .f-bot a {
      color: #fff; }
    /* line 313, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
    .cess-footer .f-bot a:hover, .cess-footer .f-bot a:focus {
      background-color: #761515; }
    @media screen and (min-width: 768px) {
      /* line 316, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
      .cess-footer .f-bot li + li {
        border-left: 2px white solid; } }
    @media screen and (max-width: 768px) {
      /* line 319, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
      .cess-footer .f-bot li + li {
        border-top: 0.5px white solid; } }

/* line 323, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.ion-ios-heart {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite; }

/* line 330, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.card-container * {
  color: black;
  font-size: initial;
  text-shadow: none; }

@media only screen and (max-width: 768px) {
  /* line 336, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .anim {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; } }

/* line 357, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.owl-theme img {
  height: 270px; }

/* line 360, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
.div-overlay {
  position: absolute;
  transform: scale(0);
  transition: all 0.31s cubic-bezier(1, 0.34, 0, 0.98);
  width: 100%;
  height: 100%;
  z-index: -9999;
  background-color: rgba(178, 37, 37, 0.43); }
  /* line 368, C:/xampp/htdocs/creationhub/alpha_pro_f/styles/main.sass */
  .div-overlay .inner-lay {
    position: absolute;
    top: 40%;
    left: 40%;
    color: #fff;
    font-size: 25px; }

/*# sourceMappingURL=main.css.map */