@charset "UTF-8";
.wrap
{
	margin:auto;
	width: 70%;
	overflow: hidden;
	box-shadow: 2px 2px 5px black , -2px -2px 5px black;
}
.top_nav>p
{
	font-size: 30px;
	letter-spacing:3px;
	margin: 0;
	color: #ffffff;
	text-shadow: 
	3px 3px 1px black;
	margin-left: 5px;
	font-family:unset,sans-serif;
	float: left;
} 
.top_nav>ul>a
{
	list-style: none;
	float: right;
	margin-right: 0px;
	margin-top: -5px;
	background: url(../images/home_w.png) no-repeat;
	transition:all 1s ease 0s;
}
.top_nav>ul>a:hover
{
	transform: scale(1.5) rotate(360deg);
	background: url(../images/home_2.png) no-repeat;
}
.top_nav  {overflow: hidden;}

h1
{
	text-align: center;
	font-size: 50px;
	text-shadow:3px 8px 2px black;
	margin-top: 0px;
	margin-bottom:0px;
}
.b_h1>p>img
{
	width: 100%;
	height: 180px;
}
#alt_image  {display: none;}

#register a
{
	padding: 5px 2px;
	width: 150px;
	margin-top: -30px;
	margin-left: 20px;
	transition: all 0.5s ease ;
	overflow: hidden;
}
#register a:hover
{
	background:#ae262f;
	text-decoration: none; 
	transform: skewX(20deg);
	border-radius: 50%;
}
.content{
    font-size: 25px;
    margin-left: 3px;
}
.for 
{
	background:url(../images/paper_white.png);
	background-size: cover;
	float: left;
	margin-left: 1%;	margin-top: 20px;
	width: 30%;
}
.we
{
	background:url(../images/paper_white.png);
	background-size: cover;
	float: left;	
	margin: 20px 2% 0 2%;
	width: 30%;
}
.reg
{
	background:url(../images/register.png);
	background-size: cover;
	float: right;
	margin-top: 13px;
	width: 35%;
}
.we_p,.for_p
{
	text-align: left;
	max-width:98%;    margin: auto;
	font-size: 23px;
    margin-bottom: 50px; margin-left: 5px;
}
.register_p>p
{
	text-shadow: 2px 1px 1px grey;
	width:80%;
	letter-spacing: 1.5px;
	font-size: 25px;
	margin: 45px 30px 10px 20px;
}
#click
{
	margin-top: 0;
	font-family:Engravers MT,cursive,sans-serif;
	font-size: 20px;
	margin-left: 20px;
}
.follow{
    height: 345px; width:650px; margin: auto;
    border-bottom: 2px solid black;
}
.follow  #contact,.social>p  {font-size: 30px;}

.social ul a li#fb{
    list-style-image: url(../images/fb.png);
    margin-left: -20px;
}
.social ul a li#fb:hover{
    list-style-image: url(../images/fb_over.png);    
}
.social ul a li#g{
    list-style-image: url(../images/g.png);
}
.social ul a li#g:hover{
    list-style-image: url(../images/g_over.png);
}
.social ul a li#tw{
    list-style-image: url(../images/tw.png);
}
.social ul a li#tw:hover{
    list-style-image: url(../images/tw_over.png);
}
.social ul a li#insta{
    list-style-image: url(../images/insta.png);
}
.social ul a li#insta:hover{
    list-style-image: url(../images/insta_over.png);
}
