@charset "UTF-8";
h1  {font-size: 50px;}
.wrap  {width: 90%;}
.b_h1>p>img  {display: none;}

#alt_image{
    display:inherit;
    font-weight: bold; font-size: 20px;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px dotted black;
}
.we,.for,.reg{
    float: none;
    background: none;
    width: auto;
    margin: -20px 0 0 5px;
}
.we,.for{
    margin-left: 0;  margin-top:-15px;
}
.we_p,.for_p,.content>p{
    margin: 2px 0 2px 3px;
    width: auto;
    text-shadow: none;
    font-size: 20px;  font-weight:normal;
    font-family: sans-serif;

}
.reg{
    margin-right: 2px;  margin-top: 5px;
    border: 5px solid black;
    -webkit-border-radius: 20px 0;
    -moz-border-radius: 20px 0;
    border-radius: 20px 0;
    
}

.register_p>p{
    margin: 2px 0 2px 3px;
    width: auto;
    text-align: center;
    text-shadow: 3px 1px 1px grey;
}
#register a{ 
    margin: auto;
    width:200px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 50%;
    background: black;
}
#register a:hover
{
	background:black;
	text-decoration: none; 
    transform: none;
}
#click  {text-align: center; font-size: 25px;}

.follow  {height: 290px; width: 5000px;}

.follow  #contact,.social>p  {font-size: 25px;}

.social ul a li#fb,.social ul a li#fb:hover{
    list-style-image: url(../images/fb_t.png);
    margin-left: -20px;
}
.social ul a li#g,.social ul a li#g:hover{
    list-style-image: url(../images/g_t.png);
}
.social ul a li#tw,.social ul a li#tw:hover{
    list-style-image: url(../images/tw_t.png);
}
.social ul a li#insta,.social ul a li#insta:hover{
    list-style-image: url(../images/insta_t.png);
}