.a
{
  background: url(../images/2.png) no-repeat ;
  width: 800px;
  margin: auto;

}
.a p
{
  margin-left: 150px;
  color: black ;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: sans-serif;
  margin-top: 20px;
}
